@use '../../styles/vars';

.lessons {

    &__form-label{
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        font-weight: 500;
        color: vars.$grey;
    }

    &__form-select {
        padding: 0.5rem;
        width: 17em;
        font-family: vars.$fontFamily;
        border-radius: 0.5em;
        background: none;
        margin-top: 1rem;
    }
}

.resources {

  &__addBtn {
    font-family: vars.$fontFamily;
    font-weight: 600;
    padding: 0.7rem;
    background-color: vars.$green;
    border: 0;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__addBtn:hover {
    color: #000;
    background-color:vars.$greenAlt
  }

  &__addBtn svg {
    margin-left: 0.5rem;
  }
    
  &__title {
    margin-bottom: 2rem;
  }

}


.resource {

    &__item {
      position: relative;
    }
   
    &__header {
      display: flex;
    }
    &__title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;
      background-color: vars.$blue;
      width: 100%;
      border-bottom: solid 0.1em #ccc;
    }
    
    &__title:hover {
      background-color: vars.$blueAlt;
    }
    
    &__title,
    &__content {
      padding: 1rem;
    }

    &__content strong {
      font-weight: bold;
    }

    &__content em {
      font-style: italic;
    }

    &__content ul {
      list-style: inside;
    }
    
    &__content {
      height: 100%;
      width: 100%;
    }

    &__overflow {
      overflow-y: auto; 
      background-color: vars.$greyLight;
      max-height: 17em;
      font-size: 0.8em;

      @media screen and (min-width: 992px) { 
        max-height: 23em;
        font-size: 1em;
      }
    }

    &__buttons {
      position: absolute;
      right: 1rem;
      z-index: 2;

      .resource__editBtn {
        background-color: vars.$green;
        color: #fff;
        border: 0;
        padding: 0.5rem;
      }
      .resource__editBtn:hover {
          color: #000;
          background-color: vars.$greenAlt
      }

      .resource__deleteBtn {
        background-color: vars.$deleteColor;
        color: #fff;
        border: 0;
        padding: 0.5rem;
      }
      .resource__deleteBtn:hover {
          color: #000;
          background-color: vars.$deleteColorAlt;
      }
      
    }      
}
.addResource-form {
  display: flex;
  flex-direction: column;
  border: 0.1em solid vars.$greyLight;
  padding: 1rem;
  margin-bottom: 2rem;
  align-items: flex-start;

  &__label {
    margin-top: 1rem;
    font-weight: 600;
  }

  &__input {
    padding: 0.5rem;
    margin: 0.5rem 0 0 2rem;
    border: solid 0.1em #ccc;

    @media screen and (min-width: 992px) { 
      margin: 0.5rem 0 0 6rem;
    }
  }

  &__input::placeholder {
    color: #ccc;
    font-style: italic;
  }

  &__addBtn {
    font-family: "Montserrat";
    font-weight: 600;
    padding: 0.7rem;
    background-color: #60D399;
    border: 0;
    color: #fff;
    margin-top: 5rem;
    width: 10em;
    align-self: flex-end;

    @media screen and (min-width: 992px) { 
      margin-top: 3rem;
    }
  }

  &__addBtn:hover {
    color: #000;
    background-color:rgb(52, 183, 117)
  }

  .ql-editor {
    background-color: #fff;
  }
}
.quill.resource__content {
  width: 100%;
  height: 100%;
}