<h1>Activation de votre compte enseignant</h1>

<p>Votre compte d'enseignant à la plateforme Connected School Services a bien été créé par l'administration de votre établissement. <br> Afin de pouvoir activer votre compte et définir votre mot de passe personnel, veuillez cliquer sur le lien ci dessous. <i>Votre identifiant sera votre adresse E-Mail</i> </p>

<p><a href=" {{absolute_url(path('activation', {'token' : token} ))}} ">Activer mon compte</a></p>