<h1>Réinitialisation de votre mot de passe</h1>

<p>Bonjour,<br><br>Une demande de réinitialisation de mot de passe a été effectuée pour la plate-forme de votre établissement <strong> Connected School Services</strong> . Veuillez cliquer sur le lien suivant :</p>

<p><a href=" {{url}} ">Réinitialiser mon mot de passe</a></p>