{% block footer %}
    <footer class="text-muted text-center py-5">
        <div class="container">
            <p class="mb-1">2021 &copy;CSS | Connected School Services. Tous droits réservés</p>
        </div>
    </footer>
{% endblock %}