{% extends 'base.html.twig' %}

{% block title %}
   Liste des matières - {{parent()}}
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2 class="fw-bold mb-4 text-muted text-center" style="text-shadow: 8px 6px 10px rgba(0, 0, 0, 0.350);">Choisir une matière</h2>
        </div>

        <div class="col-md-12">
            <ul style="width: 600px;" class="list-group list-group-flush mx-auto">
                {% for matiere in disciplines %}
                    <li class="list-group-item text-center"><a href="{{path('teacher_discipline', {id: matiere.id})}} " class="nolink">{{matiere.name }}</a> </li>
                {% endfor %}
            
            </ul>
        </div>

    </div>
</div>

{% endblock %}
