{% extends "base-front.html.twig" %}

{% block title %}
    Réinitialisation mot de passe - {{parent()}}
{% endblock %}

{% block content %}
    <div class="col-md-12 py-5 mx-auto" style="width: 600px">
        <h1 class="h3 mb-3 fw-bold fst-italic text-center">Réinitialisation de votre mot de passe</h1>
        
        <p class="fst-italic">Veuillez entrer votre nouveau mot de passe ci-dessous </p>
    </div>
<div class="form-signin">
    <form method="post">
        <div class="form-floating">
            <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <label for="inputPassword">Mot de passe</label>
        </div>

        <input type="hidden" name="token" value="{{ token }}">
        <button type="submit" id="valider" class="btn btn-secondary mb-3 mx-auto">
            Valider
        </button>   
    </form>
</div>
{% endblock %}